@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');


/* ---------------------------------------------------------------------------- ALL APP --------------------------------------------------------------------------------- */


.App {
  text-align: center;
  margin-bottom: 5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



/* ------------------------------------------------------------------------------ HOME INTRO ---------------------------------------------------------------------------------- */


.home-intro{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%; 
  align-items: center;
}


/* ----- first page ----- */

.figure-img-first-page{
  width: 93%;
}

.img-first-page{
  width: 100%; 
  margin-top: 5.5em;
}


/* ----- second page ----- */

.figure-img-sec-page{
  width: 100%;
  margin-left: 2.5em;
}

.img-sec-page{
  width: 40%; 
  margin-top: 6em;
}


/* ----- third page ----- */

.figure-img-third-page {
  width: 100%;
  margin-left: 2.5em;
}

.img-third-page {
  width: 40%;
  margin-top: 5em;
}

.title-intro-third {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5em;
  margin-top: 0.9em;
  width: 90%;
}
/*----------------*/


.title-intro {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5em;
  margin-top: 0.4em;
  margin-left: 0.3em;
  width: 80%;
}

.text-intro {
  width: 70%;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
  margin-top: 2.7em;
}

.intro-link {
  margin-top: 6em;
}

.intro-link a {
  border:none;
  padding: 1em 2em 1em 2em;
  border-radius:12px;
  background: rgb(0, 145, 255);
  color:#fff;
  text-decoration: none;
}



/* ------------------------------------------------------------------------------- HOME ------------------------------------------------------------------------------------- */


.firstpage{
  background: white;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.tuktuk-logo {
  margin-bottom: 2em;
}

.home-link{
  display: flex;
  flex-direction: column;
  width: 100%; 
  font-size: 1.5em;
}

.Nav .tuk-tuk-home, .fa-home {
  font-size: 2em;
  color: grey;
  display: flex;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.home-link a{
  border:none;
  padding: 1em 0 1em 0;
  border-radius:12px;
  margin: 1em 1em 0em 1em;
  background: rgb(0, 145, 255);
  color:#fff;
  text-decoration: none;
}

.home-link a:hover{
  background: rgb(13, 66, 134);
}



/* --------------------------------------------------------------------------- FORM USER ------------------------------------------------------------------------------------ */


.title-form-user{
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  display: flex;
  margin-top: 0.4em;
  margin-left: 0.3em;
}

.add-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.send-form-users{
  font-family: 'Roboto', sans-serif;
  border:none;
  padding: 0.8em 2em 0.8em 2em;
  border-radius:12px;
  margin-top: 1.2em;
  background: rgb(0, 145, 255);
  color:#fff;
  text-decoration: none;
  font-size: 1em;
}

.add-user > label{
  font-family: 'Roboto', sans-serif;
}

.add-user > input {
  border-radius:7px;
  background-color: rgb(235, 229, 229);
  border: none;
  width: 18em;
  height: 2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.sex-form-user > select {
  border-radius:7px;
  background-color: rgb(235, 229, 229);
  border: none;
  width: 18em;
  height: 2.2em;
  margin-bottom: 0.6em;
  margin-top: 0.5em;
}



/* -------------------------------------------------------------------------- USER CONNEXION ------------------------------------------------------------------------------ */


.title-user-connexion{
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  text-align: left;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.3em;
}

#lastname ,#password {
  font-family: 'Font Awesome\ 5 Free','Roboto';
  font-weight: 900;
  content: '\f30c';
}

.user_connexion{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

.user_connexion > input {
  border-radius:7px;
  background-color: rgb(235, 229, 229);
  border: none;
  width: 18em;
  height: 2.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: 0.7em;
}

.submit-button input{
  border:none;
  padding: 1.2em 1em 1.2em 1em;
  border-radius:8px;
  margin: 1em 1em 1em 1em;
  background: rgb(0, 145, 255);
  color:#fff;
  text-decoration: none;
}



/* ----------------------------------------------------------------------------  USER PROFILE    ----------------------------------------------------------------------------- */


.profile-input-img > input {
  border-radius:7px;
  background-color: rgb(235, 229, 229);
  border: none;
  width: 18em;
  height: 2.2em;
  margin-bottom: 0.6em;
  margin-top: 0.5em;
}

.profile-input-img > select {
  border-radius:7px;
  background-color: rgb(235, 229, 229);
  border: none;
  width: 18em;
  height: 2.2em;
  margin-bottom: 0.6em;
  margin-top: 0.5em;
}

.logo-modify > img {
  width: 1.5em;
  margin: 0;
  padding: 0;
}

.profile-input-img{
  display: flex;
  justify-content: space-evenly;
}

.profile-sex > select{
  border-radius:7px;
  background-color: rgb(235, 229, 229);
  border: none;
  width: 18em;
  height: 2.2em;
  margin-bottom: 0.6em;
  margin-top: 0.5em;
}

.profile-sex {
  justify-content: left;
}



/* --------------------------------------------------------------------------- TRAVEL FORM --------------------------------------------------------------------------------- */


.add-travel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.title-travel-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1.5em;
  margin-left: 0.5em;
  font-size: 2em;
  font-family: 'Bebas Neue', cursive;
}

.input-add-travel {
  font-family: 'Roboto', sans-serif;
  border-radius:7px;
  background-color: rgb(235, 229, 229);
  border: none;
  width: 15em;
  height: 2.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.input-add-travel:focus {
  background: #bebebe;
}

.add-tuktuk{
  border:none;
  padding: 0.7em 2em 0.7em 2em;
  border-radius:12px;
  margin: 2em 1em 0em 1em;
  background: rgb(0, 145, 255);
  color:#fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}



/* --------------------------------------------------------------------------- TRAVEL CARDS --------------------------------------------------------------------------------- */


.title-travel-cards {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.2em;
  text-align: left;
  text-decoration: none;
  margin-top: 0.2em;
  margin-bottom: 0;
  margin-left: 0.3em;
}
.fig-img-travel-cards {
  margin: 0;
  margin-bottom: 3.5em;
}
.fig-img-travel-cards > img {
  width: 100%;
  height: auto;
  box-shadow: 2px 5px 10px rgb(156, 152, 152);
}
.liste-travel li {
  margin-top: inherit;
  font-size: 1.2em;
  color: rgb(66, 66, 66);
  text-align: left;
  list-style: none;
}
.liste-travel {
  border-top: 4mm ridge rgba(219, 38, 38, 0.815);
}
/* .place-holder {
  width:18em;
  height: auto;
} */



/* --------------------------------------------------------------------------- UPLOAD FILE --------------------------------------------------------------------------------- */


.upload-avatar{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-decoration: none;
  color:#fff;
  border:none;
  border-radius:12px;
  background: rgb(0, 145, 255);
  padding: 0.8em 2em 0.8em 2em;
  margin-top: 1.2em;
  margin-bottom: 1em;
}

.title-add-avatar{
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  text-align: left;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-bottom: 0.3em;
}



/* ------------------------------------------------------------------------------    CGU    ---------------------------------------------------------------------------------- */


.back-arrow{
  width: 2em;
}

.fig-back-arrow{
  margin: 0;
  margin-left: 0.5em;
  text-align: left;
  position: fixed;
}

.text-cgu {
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}

.add-user > a {
  text-decoration: none; color: black; font-size: 0.7em;
}

.add-user > a:hover {
  text-decoration: none; color: grey;
}

.title-cgu{
  margin-top: 1em;
}



/* ----------------------------------------------------------------------------  COUNTRY LIST    ----------------------------------------------------------------------------- */


.list-of-country > select {
  border-radius:7px;
  background-color: rgb(235, 229, 229);
  border: none;
  width: 18em;
  height: 2.2em;
  margin-bottom: 0.6em;
  margin-top: 0.5em;
}



/* ------------------------------------------------------------------------------ NAV FOOTER ---------------------------------------------------------------------------------- */


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1em;
  position: fixed; bottom: 0em;
  width: 100%;
  height: 10%;
  background-color: rgb(243, 241, 241)
 }

 .title_footer {
   font-size: 0.9em;
   margin-top: 0.1em;
   margin-bottom: 0;
 }

 .link-footer {
   color: black;
   text-decoration: none;
   margin: 0;
 }

 .img-footer {
   width: auto;
   height: 3em;
   margin: 0;
 }

 .logos-footer {
   margin: 0;
   padding: 0;
 }

 /* ----- PURPOSE -----*/
 
 .logos-purpose{
  margin: 0;
  padding: 0;
  margin-top: -1.3em;
  margin-bottom: 0em;
 }

 .img-footer-purpose{
   width: auto;
   height: 4em;
   margin-top: 0.1em;

 }

 .title_footer_purpose {
  font-size: 0.9em;
  margin-top: 0.4em;
  margin-bottom: 0;
 }