@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* --------------- CSS TravelCard --------------- */

.travel-cards {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.liste-travel li {
  text-align: left;
  list-style: none;
  border-bottom: 1px dotted #777;
}

.liste-travel > ul {
  line-height: 30px;
  padding-right: 15px;
}

.liste-travel {
  box-shadow: 2px 5px 10px rgb(202, 202, 202);
  margin-bottom: 35px;

}

/*--------------- CSS ADD USER ADD TRAVEL --------------- */
.add-travel, .add-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

/* --------------- CSS UPLOAD FILE --------------- */
.label-file {
    cursor: pointer;
    color: #00b1ca;
    font-weight: bold;
}
.label-file:hover {
    color: #25a5c4;
}

/* --------------- UserConnexion --------------- */

.user_connexion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10em;
}

.submit-button{
  margin-top: 1.7em;
}

.form-data{
  margin-top: 0.7em;
}

/* .input-form-connexion{
  align-items: flex-end;
}

.send-button{
  margin: 1%;
}

.connexion-form .send-button{
  align-items: center;
} */

/* --------------- CSS Home --------------- */
.input-file {
  display: none;
}

#lastname ,#password{
font-family: 'Font Awesome\ 5 Free','Roboto';
font-weight: 900;
content: '\f30c';
}

.upload-file {
display: flex;
flex-direction: column;
}

.firstpage{
  background: white;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.buttons{
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.buttons button{
  margin: 15px;
  background-color: #1B75BC;
  color : white;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
  width: 37%;
  box-shadow: 3px 3px 5px grey;
  font-family: Roboto;
}

.button{
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  background-color: #1B75BC;
  color : white;
  border: none;
  cursor: pointer;
}

/* --------------- CSS Nav --------------- */

.Nav {
  display: flex;
  justify-content: flex-end;
  background-color:#1B75BC ;
  padding: 5px 20px 5px 5px;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 100;
}
.Nav .tuk-tuk-home, .fa-home {
  font-size: 8vw;
  cursor: pointer;
  margin-right: 8px;
  color: white;
  padding: 5px ;
}
.Nav .fa-user, .Nav .fa-comments  {
  font-size: 8vw;
  cursor: pointer;
  color: white;
  padding: 5px ;
}


.fa-comments:hover, .fa-user:hover, .fa-home:hover {
  color:#9da7cd;
}

