@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/*css TravelCard*/

.travel-cards {
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.liste-travel li {
  text-align: left;
  list-style: none;
  border-bottom: 1px dotted #777;
}

.liste-travel > ul {
  line-height: 30px;
  padding-right: 15px;
}
.add-travel, .add-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

/* UserConnexion */

.connexion-form{
  display: flex;
  flex-direction: column;
}

.input-form-connexion{
  align-items: flex-end;
}

.send-button{
  margin: 1%;
}

.connexion-form .send-button{
  align-items: center;
}

/*CSS Home*/

.firstpage{
  background: white;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.buttons button{
  border-radius: 15px;
  margin: 15px;
  padding: 5px 10px 5px 10px;
  background-color: #1B75BC;
  color : white;
  font-weight: bolder;
  border: none;
  width: 25%;
  cursor: pointer;
}
